/**
 *   Created on : 28.10.2015
 *   Author     : Pavel
 */
/**
 * Import proměnných
 */
/**
 *   Created on : 28.10.2015
 *   Author     : Pavel
 */
/**
 * 1 - Proměnné
 */
/**
 * 2 - Funkce
 */
/**
 * 3 - Fonty
 */
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('../fonts/ProximaNova-Light.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('../fonts/ProximaNova-Semibold.otf');
}
/**
 * 4 - Formátování textu
 */
/**
 * 4.1 - Nadpisy
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: 100%;
}
h1 {
  color: white;
  font-weight: lighter;
  margin: 0;
}
@media screen and (min-width: 0px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
h2 {
  margin: 50px 0;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  line-height: 50px;
}
h3 {
  margin: 30px 0;
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  line-height: 35px;
}
h4 {
  margin: 7px 0;
  font-weight: lighter;
  font-size: 25px;
  line-height: 25px;
}
h5 {
  margin: 7px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
/**
 * 4.2 - Horizontální formátování
 */
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.margin {
  margin-bottom: 30px;
}
.indent {
  text-indent: 50px;
}
/**
 * 4.3 - Barvy
 */
.red-text {
  color: #b23432;
}
.white-text {
  color: #fff;
}
.light-grey-text {
  color: #eee;
}
.grey-text {
  color: #666;
}
.dark-grey-text {
  color: #333;
}
/**
 * 4.4 - Velikosti
 */
.small {
  font-size: 14px;
  line-height: 18px;
}
.medium {
  font-size: 16px;
  line-height: 20px;
}
.big {
  font-size: 20px;
  line-height: 24px;
}
/**
 * 4.5 - Styly
 */
.bold {
  font-weight: bold;
}
/**
 * 4.6 - Předdefinované
 */
.description {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/**
 * 5 - Obecně používané třídy
 */
/**
 * 5.1 - Barvy pozadí
 */
.red {
  background-color: #b23432;
}
.white {
  background-color: #fff;
}
.grey {
  background-color: #eee;
}
/**
 * 5.2 - Rozdělení stránky
 */
.third {
  width: 33.3333%;
  padding: 3% 2%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.half {
  width: 50%;
  padding: 3% 2%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.one {
  width: 100%;
  padding: 3% 2%;
  float: left;
  box-sizing: border-box;
}
.no-padding {
  padding: 0;
}
/**
 * 5.3 - Scrollbar
 */
.nicescroll-rails {
  background: rgba(0, 0, 0, 0.2);
  width: 10px !important;
}
.nicescroll-rails div {
  background: #b23432 !important;
  width: 10px !important;
  border: none !important;
  border-radius: 0 !important;
}
/**
 * 5.4 - Ostatní
 */
[class^='img-'] {
  position: absolute;
  z-index: -1;
}
/**
 * 6 - kony
 */
icon {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
}
icon-fb {
  background: url("../img/icons/facebook.png");
}
icon-fb:hover {
  background: url("../img/icons/facebook-hover.png");
}
icon-twitter {
  background: url("../img/icons/twitter.png");
}
icon-twitter:hover {
  background: url("../img/icons/twitter-hover.png");
}
/**
 * 7 - Optimalizace pro tisk
 */
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 * 0 - Reset
 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
input,
button,
textarea,
select,
option {
  outline: 0;
}
/**
 * 1 - Vzhled stránek
 */
/**
 * 1.1 - Celkový
 */
html,
body,
.page {
  width: 100%;
  height: 100%;
  font-family: 'Proxima Nova';
}
/**
 * 1.2 - Index
 */
header {
  height: 100%;
  width: 200px;
  background: #b23432;
  position: fixed;
  z-index: 15;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  /**
     * 1.2.1  - Ano, tohle celé je menu.
     */
  /**
     * ### Tady končí ###
     */
}
header .logo {
  width: 100px;
  height: 30px;
  padding: 35px 30px 35px 70px;
  background: url("../img/logo50.png") 20px center no-repeat #eee;
  background-size: 50px;
  line-height: 30px;
  font-size: 30px;
  font-weight: lighter;
  color: #b23432;
}
header > nav {
  width: 100%;
}
header > nav > a,
header > nav > div > a {
  width: 160px;
  padding: 15px 20px;
  float: left;
  cursor: pointer;
  background: #b23432;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eee;
  border-top: 1px solid #E34240;
  border-bottom: 1px solid #982D2B;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
header > nav > a:hover,
header > nav > div > a:hover {
  background: #333;
  border-color: #333;
}
header > nav > a:hover + nav,
header > nav > div > a:hover + nav {
  display: block;
}
header > nav a.clear {
  background: #b23432;
  border-color: #b23432;
  cursor: default;
}
header > nav a.clear:hover {
  background: #b23432;
  border-color: #b23432;
}
header > nav div {
  width: 200%;
  height: auto;
  overflow: hidden;
}
header > nav div:hover > a {
  background: #333;
  border-color: #333;
}
header > nav div nav {
  position: absolute;
  left: 200px;
  background-color: #333;
  width: 200px;
  display: none;
}
header > nav div nav:hover {
  display: block;
}
header > nav div nav a {
  width: 160px;
  padding: 15px 20px;
  color: #eee;
  float: left;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #444;
  border-bottom: 1px solid #222;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
header > nav div nav a:hover {
  color: #666;
}
/**
 * 1.3 - Další stránky
 */
/**
 * 2 - Custom třídy
 */
/**
 * 2.1 - Ostatní
 */
.hidden {
  display: none;
}
.part {
  width: 100%;
  padding-left: 200px;
  overflow: hidden;
  display: block;
  position: relative;
  font-size: 0;
  box-sizing: border-box;
}
.part .area {
  margin: 0 auto;
  width: 90%;
  opacity: 0;
}
[class^='img-'] {
  position: absolute;
  z-index: -1;
}
/**
 * 3 - Inputy
 */
/**
 * 4 - Tlačítka (<a>)
 */
/**
 * 5 - Zprávy
 */
.message {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
}
.success {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
}
.notice {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
}
.error {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
}
/**
 * 6 - Tabulky
 */
/**
 * 6.1 - základní, nestylovaná
 */
.table-basic {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border-spacing: 0;
}
.table-basic tr:nth-child(odd) {
  background: #eee;
}
.table-basic td,
.table-basic th {
  padding: 10px;
  margin: 0;
  color: #333;
  text-align: center;
  font-size: 16px;
}
.table-basic td.left,
.table-basic th.left {
  text-align: left;
}
.table-basic td.right,
.table-basic th.right {
  text-align: right;
}
.table-basic th {
  font-weight: bold;
}
table.admin {
  padding: 0;
  margin: 0;
  margin: 30px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
}
table.admin tr:nth-child(odd) {
  background: #eee;
}
table.admin tr:hover {
  background: #f8f8f8;
}
table.admin th,
table.admin td {
  padding: 7px;
  margin: 0;
  color: #333;
  text-align: left;
  font-size: 14px;
  border: 1px solid #d4d4d4;
}
table.admin td {
  cursor: pointer;
}
table.admin th {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -o-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: linear-gradient(to bottom, #f5f5f5, #e4e4e4);
}
.admin-table-heading {
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background-image: -o-linear-gradient(top, #fff, #f5f5f5);
  background-image: linear-gradient(to bottom, #fff, #f5f5f5);
  width: 100%;
  padding: 7px;
  margin-bottom: 1px;
  color: #333;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
}
/*# sourceMappingURL=admin.css.map */