/**
 *   Created on : 11.10.2015
 *   Author     : Pavel
 */
/**
 * Import proměnných
 */
/**
 *   Created on : 28.10.2015
 *   Author     : Pavel
 */
/**
 * 0 - Reset
 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
}
input,
button,
textarea,
select,
option {
  outline: 0;
}
/**
 * 1 - Proměnné
 */
/**
 * 2 - Funkce
 */
/**
 * 3 - Fonty
 */
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('../fonts/ProximaNova-Light.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('../fonts/ProximaNova-Semibold.otf');
}
/**
 * 4 - Formátování textu
 */
/**
 * 4.1 - Nadpisy
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: 100%;
}
h1 {
  color: white;
  font-weight: lighter;
  margin: 0;
}
@media screen and (min-width: 0px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
h2 {
  margin: 50px 0;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  line-height: 50px;
}
h3 {
  margin: 30px 0;
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  line-height: 35px;
}
h4 {
  margin: 7px 0;
  font-weight: lighter;
  font-size: 25px;
  line-height: 25px;
}
h5 {
  margin: 7px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
/**
 * 4.2 - Horizontální formátování
 */
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.margin {
  margin-bottom: 30px;
}
.indent {
  text-indent: 50px;
}
/**
 * 4.3 - Barvy
 */
.red-text {
  color: #b23432;
}
.white-text {
  color: #fff;
}
.light-grey-text {
  color: #eee;
}
.grey-text {
  color: #666;
}
.dark-grey-text {
  color: #333;
}
/**
 * 4.4 - Velikosti
 */
.small {
  font-size: 14px;
  line-height: 18px;
}
.medium {
  font-size: 16px;
  line-height: 20px;
}
.big {
  font-size: 20px;
  line-height: 24px;
}
/**
 * 4.5 - Styly
 */
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
/**
 * 4.6 - Předdefinované
 */
.description {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/**
 * 5 - Obecně používané třídy
 */
/**
 * 5.1 - Barvy pozadí
 */
.red {
  background-color: #b23432;
}
.white {
  background-color: #fff;
}
.grey {
  background-color: #eee;
}
.dark-grey {
  background-color: #333;
}
/**
 * 5.2 - Rozdělení stránky
 */
.third {
  width: 33.3333%;
  padding: 3% 2%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.half {
  width: 50%;
  padding: 3% 2%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.one {
  width: 100%;
  padding: 3% 2%;
  float: left;
  box-sizing: border-box;
}
.no-padding {
  padding: 0;
}
/**
 * 5.3 - Scrollbar
 */
.nicescroll-rails {
  background: rgba(0, 0, 0, 0.2);
  width: 10px !important;
}
.nicescroll-rails div {
  background: #b23432 !important;
  width: 10px !important;
  border: none !important;
  border-radius: 0 !important;
}
/**
 * 5.4 - Ostatní
 */
[class^='img-'] {
  position: absolute;
  z-index: -1;
}
/**
 * 6 - kony
 */
icon {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
}
icon-fb {
  background: url("../img/icons/facebook.png");
}
icon-fb:hover {
  background: url("../img/icons/facebook-hover.png");
}
icon-twitter {
  background: url("../img/icons/twitter.png");
}
icon-twitter:hover {
  background: url("../img/icons/twitter-hover.png");
}
/**
 * 7 - Optimalizace pro tisk
 */
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 * 1 - Vzhled stránek
 */
/**
 * 1.1 - Celkový
 */
html,
body,
.page {
  width: 100%;
  height: 100%;
  font-family: 'Proxima Nova';
  position: relative;
  z-index: -2;
}
footer {
  width: 100%;
  overflow: hidden;
  height: 20px;
  padding: 30px 0;
  background: url("../img/logo50.png") 15px center no-repeat #111;
  line-height: 20px;
  font-size: 20px;
  color: #999;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
/**
 * 1.2 - Index
 */
nav#side {
  position: fixed;
  top: 40%;
  right: 10px;
}
nav#side a {
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -100px;
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #aaa;
  display: block;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
nav#side a:hover {
  background-color: #b23432;
  border-color: #b23432;
}
nav#side a.active {
  background-color: #aaa;
  cursor: default;
}
nav#side a.active:hover {
  background-color: #aaa;
  border-color: #aaa;
}
header {
  width: 100%;
  height: 100%;
}
header #top-bar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 15;
  height: 80px;
  display: none;
  /*
        @media screen {
            @media (min-width: 600px) {
                height: 40px;
            }
            @media (min-width: 900px) {
                height: 60px;
            }
            @media (min-width: 1200px) {
                height: 80px;
            }
        }
        */
}
header #top-bar #logo {
  padding: 15px;
  float: left;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  header #top-bar nav#primary {
    float: right;
    width: 40px;
    height: 40px;
    background-color: black;
  }
  header #top-bar nav#primary a {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  header #top-bar nav#primary {
    float: right;
  }
  header #top-bar nav#primary a {
    color: #eee;
    line-height: 20px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  header #top-bar nav#primary a:hover {
    color: #b23432;
  }
  header #top-bar nav#primary a.fb,
  header #top-bar nav#primary a.twitter {
    height: 32px;
    padding: 24px;
  }
}
@media screen and (min-width: 600px) and (min-width: 600px) {
  header #top-bar nav#primary a {
    font-size: 8px;
    padding: 30px 10px;
  }
}
@media screen and (min-width: 600px) and (min-width: 900px) {
  header #top-bar nav#primary a {
    font-size: 10px;
    padding: 30px 20px;
  }
}
@media screen and (min-width: 600px) and (min-width: 1200px) {
  header #top-bar nav#primary a {
    font-size: 14px;
    padding: 30px;
  }
}
header #fixed-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  color: #333;
  z-index: 15;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
header #fixed-bar #top-bar nav a {
  color: #333;
}
header #fixed-bar p.logo-text-sleanded {
  color: #333;
}
header #motto {
  width: 80%;
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  display: none;
}
header #buttons {
  position: relative;
  top: 60%;
  margin: 0 auto;
  opacity: 0;
}
@media screen and (min-width: 0px) {
  header #buttons {
    width: 200px;
  }
}
@media screen and (min-width: 800px) {
  header #buttons {
    width: 500px;
  }
}
@media screen and (min-width: 1000px) {
  header #buttons {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  header #buttons {
    width: 700px;
  }
}
.post {
  width: 44%;
  margin: 0 3% 50px 3%;
  cursor: pointer;
  float: left;
  background: rgba(50, 50, 50, 0.3);
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.post:hover {
  -webkit-box-shadow: 0px 1px 3px 0px #000000;
  -moz-box-shadow: 0px 1px 3px 0px #000000;
  box-shadow: 0px 1px 3px 0px #000000;
  background: rgba(50, 50, 50, 0.5);
}
.post div {
  padding: 1.5%;
}
.reference {
  width: 28.3333%;
  margin: 0 2.5% 50px 2.5%;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  background: #fafafa;
  overflow: hidden;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.reference:hover {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
}
.reference div {
  padding: 1.5%;
}
p.motto-text {
  margin-top: 20px;
  color: white;
}
@media screen and (min-width: 0px) {
  p.motto-text {
    font-size: 15px;
    line-height: 15px;
  }
}
@media screen and (min-width: 800px) {
  p.motto-text {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1000px) {
  p.motto-text {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  p.motto-text {
    font-size: 40px;
    line-height: 40px;
  }
}
p.logo-text-sleanded,
p.logo-text-codes {
  padding: 20px 0px;
  font-size: 40px;
  color: #eee;
  font-weight: lighter;
  line-height: 40px;
  float: left;
}
p.logo-text-codes {
  font-weight: bold;
  color: #b23432;
}
/**
 * 1.3 - Další stránky
 */
body.secondary {
  top: 80px;
}
header.secondary {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
header.secondary #top-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 15;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
header.secondary #top-bar p.logo-text-sleanded {
  color: #333;
}
header.secondary #top-bar nav#primary a {
  color: #333;
}
header.secondary #top-bar nav#primary a:hover {
  color: #b23432;
}
/**
 * 1.4 - Team
 */
.team-tile {
  height: 350px;
  overflow: hidden;
}
/**
 * 1.5 - Blog 
 */
.blog-post {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.blog-post:hover {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
}
.blog-post div {
  margin: 1.5%;
}
/**
 * 1.6 - Work
 */
.work-tile {
  width: 100;
  border-radius: 5px;
  cursor: pointer;
  background: #fafafa;
  overflow: hidden;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.work-tile:hover {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
}
.work-tile div {
  padding: 1.5%;
}
/**
 * 2 - Custom třídy
 */
/**
 * 2.1 - Progress bar
 */
.progress-bar {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #eee;
  margin: 25px 0;
}
.progress-bar div {
  width: 0;
  height: 50px;
  background-color: #b23432;
}
.progress-bar div label {
  padding: 15px;
  display: block;
  font-size: 20px;
}
/**
 * 2.2 - Ostatní
 */
.hidden {
  display: none;
}
.part {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  font-size: 0;
}
.part .area {
  margin: 0 auto;
  width: 90%;
  opacity: 0;
}
/**
 * 3 - Inputy
 */
/**
 * 3.1 - Contact
 */
#contact {
  width: 50%;
  padding-bottom: 50px;
  margin: 0 auto;
}
#contact textarea,
#contact select,
#contact button,
#contact input {
  border: 0;
  padding: 20px;
  margin-bottom: 5px;
  max-width: 100%;
  min-width: 100%;
  background: #fff;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  color: #b23432;
  font-family: "Proxima Nova";
  font-size: 18px;
  text-indent: 0;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
#contact textarea {
  min-height: 200px;
}
#contact select option {
  background: #fff;
}
#contact select:hover,
#contact textarea:hover,
#contact input:hover,
#contact select:focus,
#contact textarea:focus,
#contact input:focus {
  background: #eee;
}
#contact button {
  color: #eee;
  cursor: pointer;
  background-color: #d9403c;
}
#contact button:hover,
#contact button:focus {
  background-color: #cc3c39;
}
/**
 * 4 - Tlačítka (<a>)
 */
.contact,
.work {
  width: 40%;
  padding: 15px 0;
  font-weight: lighter;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
@media screen and (min-width: 0px) {
  .contact,
  .work {
    font-size: 10px;
    line-height: 10px;
  }
}
@media screen and (min-width: 800px) {
  .contact,
  .work {
    font-size: 15px;
    line-height: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .contact,
  .work {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contact,
  .work {
    font-size: 25px;
    line-height: 25px;
  }
}
.contact {
  float: left;
  background-color: #b23432;
  border: 2px solid #b23432;
}
.work {
  float: right;
  border: 2px solid #fff;
}
.work:hover {
  border: 2px solid #b23432;
  color: #b23432;
}
/**
 * 5 - Zprávy
 */
.message {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
}
.success {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
}
.notice {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
}
.error {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
}
/**
 * 6 - Tabulky
 */
/**
 * 6.1 - základní, nestylovaná
 */
.table-basic {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border-spacing: 0;
}
.table-basic tr:nth-child(odd) {
  background: #eee;
}
.table-basic td,
.table-basic th {
  padding: 10px;
  margin: 0;
  color: #333;
  text-align: center;
  font-size: 16px;
}
.table-basic td.left,
.table-basic th.left {
  text-align: left;
}
.table-basic td.right,
.table-basic th.right {
  text-align: right;
}
.table-basic th {
  font-weight: bold;
}
/*# sourceMappingURL=glob.css.map */