

.skill {
    float: left;
    width: 50%; min-width: 200px;
    height: 50%; min-height: 200px;
}


.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 35px;
  text-align: center;
  color: #b23432;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px; height: 50px;
  border: 20px solid #333;
  border-radius: 100px;
  line-height: 50px;
}

.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #b23432;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}

.chart[data-percent='100'] .outer {
  stroke-dashoffset: -30;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: -133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: -180;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: -360;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}

@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -30;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -30;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -180;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -180;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -360;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: -537;
  }
  
  to {
    stroke-dashoffset: -360;
  }
}