/**
 *   Created on : 28.10.2015
 *   Author     : Pavel
 */
/**
 * 0 - Reset
 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
}
input,
button,
textarea,
select,
option {
  outline: 0;
}
/**
 * 1 - Proměnné
 */
/**
 * 2 - Funkce
 */
/**
 * 3 - Fonty
 */
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('../fonts/ProximaNova-Light.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('../fonts/ProximaNova-Semibold.otf');
}
/**
 * 4 - Formátování textu
 */
/**
 * 4.1 - Nadpisy
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: 100%;
}
h1 {
  color: white;
  font-weight: lighter;
  margin: 0;
}
@media screen and (min-width: 0px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
h2 {
  margin: 50px 0;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  line-height: 50px;
}
h3 {
  margin: 30px 0;
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  line-height: 35px;
}
h4 {
  margin: 7px 0;
  font-weight: lighter;
  font-size: 25px;
  line-height: 25px;
}
h5 {
  margin: 7px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
/**
 * 4.2 - Horizontální formátování
 */
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.margin {
  margin-bottom: 30px;
}
.indent {
  text-indent: 50px;
}
/**
 * 4.3 - Barvy
 */
.red-text {
  color: #b23432;
}
.white-text {
  color: #fff;
}
.light-grey-text {
  color: #eee;
}
.grey-text {
  color: #666;
}
.dark-grey-text {
  color: #333;
}
/**
 * 4.4 - Velikosti
 */
.small {
  font-size: 14px;
  line-height: 18px;
}
.medium {
  font-size: 16px;
  line-height: 20px;
}
.big {
  font-size: 20px;
  line-height: 24px;
}
/**
 * 4.5 - Styly
 */
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
/**
 * 4.6 - Předdefinované
 */
.description {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/**
 * 5 - Obecně používané třídy
 */
/**
 * 5.1 - Barvy pozadí
 */
.red {
  background-color: #b23432;
}
.white {
  background-color: #fff;
}
.grey {
  background-color: #eee;
}
.dark-grey {
  background-color: #333;
}
/**
 * 5.2 - Rozdělení stránky
 */
.third {
  float: left;
  width: 33.3333%;
}
.half {
  float: left;
  width: 50%;
}
.text-area {
  margin: 20px;
}
/**
 * 5.3 - Scrollbar
 */
.nicescroll-rails {
  background: rgba(0, 0, 0, 0.2);
  width: 10px !important;
}
.nicescroll-rails div {
  background: #b23432 !important;
  width: 10px !important;
  border: none !important;
  border-radius: 0 !important;
}
/**
 * 5.4 - Ostatní
 */
[class^='img-'] {
  position: absolute;
  z-index: -1;
}
hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #b23432, #fff);
}
/**
 * 6 - kony
 */
[class^='icon-big'] {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
  cursor: pointer;
}
[class^='icon-small'] {
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  cursor: pointer;
}
.icon-big-fb {
  background: url("../img/icons/facebook.png");
}
.icon-big-fb:hover {
  background: url("../img/icons/facebook-hover.png");
}
.icon-big-twitter {
  background: url("../img/icons/twitter.png");
}
.icon-big-twitter:hover {
  background: url("../img/icons/twitter-hover.png");
}
.icon-small-edit {
  background: url("../img/icons/pen.png");
}
.icon-small-edit:hover {
  background: url("../img/icons/pen-hover.png");
}
.icon-small-cross {
  background: url("../img/icons/cross.png");
}
.icon-small-cross:hover {
  background: url("../img/icons/cross-hover.png");
}
/**
 * 7 - Zprávy
 */
.message {
  width: 50%;
  padding: 40px 100px;
  margin: auto;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.success {
  background-color: green;
  background-image: -moz-linear-gradient(top, green, green);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(green), to(green));
  background-image: -webkit-linear-gradient(top, green, green);
  background-image: -o-linear-gradient(top, green, green);
  background-image: linear-gradient(to bottom, green, green);
}
.notice {
  background-color: yellow;
  background-image: -moz-linear-gradient(top, yellow, yellow);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(yellow), to(yellow));
  background-image: -webkit-linear-gradient(top, yellow, yellow);
  background-image: -o-linear-gradient(top, yellow, yellow);
  background-image: linear-gradient(to bottom, yellow, yellow);
}
.error {
  background-color: #b23432;
  background-image: -moz-linear-gradient(top, #b23432, #d9403c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b23432), to(#d9403c));
  background-image: -webkit-linear-gradient(top, #b23432, #d9403c);
  background-image: -o-linear-gradient(top, #b23432, #d9403c);
  background-image: linear-gradient(to bottom, #b23432, #d9403c);
}
/**
 * 8 - Optimalizace pro tisk
 */
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=variables.css.map */