/**
 *   Created on : 28.10.2015
 *   Author     : Pavel
 */

/**
 * Import proměnných
 */
@import "variables.less";

/**
 * 0 - Reset
 */

* { margin: 0; padding: 0; }

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;    
}
input,button,textarea,select,option {
    outline: 0;
}

/**
 * 1 - Vzhled stránek
 */

/**
 * 1.1 - Celkový
 */
html, body, .page {
    width: 100%;
    height: 100%;
    font-family: 'Proxima Nova';
    position: relative;
    z-index: -2;
}

/**
 * 1.2 - Index
 */

header {
    height: 100%;
    width: 200px;
    
    background: @theme-color;
    
    position: fixed;
    
    .shadow(0.5);
    
    .logo {
        width: 100px;
        height: 30px;
        padding: 35px 30px 35px 70px;
        background: url( "@{img-folder}logo50.png" ) 20px center no-repeat @light-grey;
        background-size: 50px;
        
        line-height: 30px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: lighter;
        color: @theme-color;
    }
    
    /**
     * 1.2.1  - Ano, tohle celé je menu.
     */
    > nav {
        width: 100%;
        
        > a , > div > a {
            width: 160px;
            padding: 15px 20px;
            color: @light-grey;
            float: left;
            cursor: pointer;

            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;

            border-top: 1px solid #E34240;
            border-bottom: 1px solid #982D2B;


            .animate;

            &:hover {
                background: @dark-grey;
                border-color: @dark-grey;
            }
            &:hover + nav  {
                display: block;
            }
        }
        a.clear {
            background: @theme-color;
            border-color: @theme-color;
            cursor: default;
            &:hover {
                background: @theme-color;
                border-color: @theme-color;
            }
        }
        div  {
            width: 200%;
            height: auto;
            overflow: hidden;
            
            &:hover > a {
                background: @dark-grey;
                border-color: @dark-grey;
            }
            
            nav {
                position: absolute; left: 200px;
                background-color: @dark-grey;
                width: 200px;
                display: none;
                
                &:hover {
                    display: block;
                }
                
                a {
                    width: 160px;
                    padding: 15px 20px;
                    color: @light-grey;
                    float: left;
                    cursor: pointer;

                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;

                    border-top: 1px solid #444;
                    border-bottom: 1px solid #222;

                    .animate;

                    &:hover {
                        color: @grey;
                    }
                }
            }
        }
    }
    /**
     * ### Tady končí ###
     */
}
/**
 * 1.3 - Další stránky
 */
/**
 * 2 - Fonty
 */
@font-face {
    font-family: 'Proxima Nova';
    font-weight: normal;
    src: url('@{font-folder}ProximaNova-Regular.otf');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: lighter;
    src: url('@{font-folder}ProximaNova-Light.otf');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: bold;
    src: url('@{font-folder}ProximaNova-Semibold.otf');
}

/**
 * 3 - Formátování textu
 */
/**
 * 3.1 - Nadpisy
 */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    width: 100%;
}

h1 {
    color: white;
    font-weight: lighter;
    margin: 0;
    
    @media screen {
        @media(min-width: 0px) {
            font-size: 30px;
            line-height: 30px;
        }
        @media(min-width: 800px) {
            font-size: 60px;
            line-height: 60px;
        }
        @media(min-width: 1000px) {
            font-size: 70px;
            line-height: 70px;
        }
        @media(min-width: 1200px) {
            font-size: 80px;
            line-height: 80px;
        }
    }
}

h2 {
    margin: 50px 0;
    text-align: center;
    font-weight: lighter;
    
    font-size: 50px;
    line-height: 50px;
}

h3 {
    margin: 30px 0;
    text-align: center;
    font-weight: lighter;
    
    font-size: 35px;
    line-height: 35px;
    
}

h4 {
    margin: 7px 0;
    font-weight: lighter;
    font-size: 25px;
    line-height: 25px;
}

h5 {
    margin: 7px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

/**
 * 3.2 - Horizontální formátování
 */
.justify {
    text-align: justify;
}
.center {
    text-align: center;
}
.margin {
    margin-bottom: 30px;
}
.indent {
    text-indent: 50px;
}


/**
 * 3.3 - Barvy
 */

.red-text {
    color: @theme-color;
}
.white-text {
    color: #fff;
    
}
.light-grey-text {
    color: @light-grey;
    
}
.grey-text {
    color: @grey;
} 
.dark-grey-text {
    color: @dark-grey;
}

/**
 * 3.4 - Velikosti
 */
.small {
    font-size: 14px;
    line-height: 18px;
}
.medium {
    font-size: 16px;
    line-height: 20px;
}
.big {
    font-size: 20px; 
    line-height: 24px;   
}

/**
 * 3.5 - Styly
 */
.bold {
    font-weight: bold;
}

/**
 * 3.6 - Předdefinované
 */
.description {
    color: #999;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/**
 * 4 - Obecně používané třídy
 */

/**
 * 4.2 - Barvy pozadí
 */
.red {
    background-color: @theme-color;
}
.white {
    background-color: #fff;
}
.grey {
    background-color: @light-grey;
}

/**
 * 4.3 - Rozdělení stránky
 */
.third {
    width: 33.3333%;
    padding: 3% 2%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.half {
    width: 50%;
    padding: 3% 2%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; 
}
.one {
    width: 100%;
    padding: 3% 2%;
    float: left;
    box-sizing: border-box;
}

.no-padding {
    padding: 0;
}

/**
 * 4.6 - Scrollbar
 */
.nicescroll-rails {
    background: rgba(0,0,0,0.2);
    width: 10px !important;

}

.nicescroll-rails div {
    background: @theme-color !important;
    width: 10px !important;
    border: none !important;
    border-radius: 0 !important;
}

/**
 * 4.5 - Ostatní
 */
.hidden {
    display: none;
}

.part {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 0;
    
    .area {
        margin: 0 auto;
        width: 90%;
        opacity: 0;
    }
}


[class^='img-'] { position: absolute; z-index: -1; }


/**
 * 5 - Inputy
 */

/**
 * 5.1 - Contact
 */

/**
 * 6 - Tlačítka (<a>)
 */
 
/**
 * 7 - Zprávy
 */
.message {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
}
.success {
    .gradient(#eee,#fff);
}
.notice {
    .gradient(#eee,#fff);
}
.error { 
    .gradient(#eee,#fff);
}

/**
 * 8 - kony
 */
icon {
    width: 32px; height: 32px;
    display: block;
    float: right;

    &-fb { 
        background: url( "@{img-folder}icons/facebook.png" );
        &:hover {
            background: url( "@{img-folder}icons/facebook-hover.png" );
        }
    }
    &-twitter { 
        background: url( "@{img-folder}icons/twitter.png" );
        &:hover {
            background: url( "@{img-folder}icons/twitter-hover.png" );
        }
    }
}

/**
 * 9 - Tabulky
 */
/**
 * 9.1 - základní, nestylovaná
 */

.table-basic {
    padding: 0; margin: 0;
    margin-bottom: 30px;
    border-spacing: 0;

    tr:nth-child(odd) {
        background: @light-grey;

    }
    td,th {
        padding: 10px; margin: 0;
        color: @dark-grey;
        text-align: center;
        font-size: 16px;
        
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
    }
    th {
        font-weight: bold;
    }
}